<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container">
    <h1 class="text-center mt-4">Login</h1>
    <div class="form-container mt-4 p-3 bg-secondary text-light border rounded">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username" class="font-weight-bolder">Username</label>
                <input class="form-control input-sm" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
            <label for="password" class="font-weight-bolder">Password</label>
            <input class="form-control input-sm" type="password" name="password" placeholder="password">
            </div>
            <button class="btn btn-primary font-weight-bolder">Login</button>
        </form>
    </div>
</div>
<%- include("./partials/footer") %>