<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container">
    <h1 class="text-center mt-4">Create a New Campground</h1>
        <div class="form-container mt-4 p-3 bg-secondary text-light border rounded">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="campName" class="font-weight-bolder">Campsite Name</label>
                    <input id="campName" class="form-control input-sm" type="text" placeholder="name" name="camp[name]">
                </div>
                <div class="form-group">    
                    <label for="campImage" class="font-weight-bolder">Campsite Image</label>
                    <input id="campImage" class="form-control" type="text" placeholder="image url" name="camp[image]">
                </div>
                <div class="form-group">    
                    <label for="campDesc" class="font-weight-bolder">Campsite Description</label>
                    <textarea id="campDesc" class="form-control" type="text" placeholder="description" name="camp[description]" rows="10"></textarea>
                </div>
                <div class="form-group">    
                    <label for="campPrice" class="font-weight-bolder">Campsite Price (Per Night)</label>
                    <input id="campPrice" class="form-control" type="number" min="0.01" step="0.01" placeholder="0.01" name="camp[price]">
                </div>
                    <button type="submit" class="btn btn-primary font-weight-bolder">Submit</button>
            </form>
        </div>
</div>
<%- include("../partials/footer") %>